# virtualenv
venv/
.venv/
env/
ENV/

#IDE
.vscode/
.idea/
*.swp
*.swo
*~

#OS
.DS_Store
Thumbs.db

*.log
__pycache__/*
*/.terraform/*
*/.terraform.lock.hcl
*/.terraform.tfstate
*/.terraform.tfstate.backup
*.tfstate
*.tfstate.*
*.terraform.*
*/*.zip
